html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media screen and (min-width: 500px) {
  section {
    position: relative;
    background-image: url("http://ww2.hdnux.com/photos/13/03/65/2899301/9/628x471.jpg");
    background-repeat: no-repeat;
    margin-top: 25px;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    background-attachment: cover;
    background-size: 100%;
    color: green;
    font-family: Lucida Grande;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-position: center center;
    line-height: 2em;
  }

  body {
    background-color: salmon;
  }

  header {
    color: white;
    font-size: 28px;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: center;
  }

  nav {
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: black;
    transition: all 1s linear;
    padding: 1% 5% 1% 5%;
  }

  nav a:hover {
    background: lightblue;
    border-radius: 10px;
    border: 2px;
  }

  .text {
    padding-left: 10%;
    padding-right: 10%;
  }

  ul {
    list-style-type: circle;
    padding-left: 25px;
  }

  div {
    width: 45%;
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image {
    display: inline-block;
    width: 50%;
    height: 400px;
  }

  .image-page-width {
    width: 100%;
    height: 450px;
    display: block;
    border-radius: 5px;
  }

  span {
    width: 50%;
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
    font-family: Serif;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .imagee {
    display: inline-block;
    width: 45%;
    border-radius: 5px;
  }
}
@media screen and (max-width: 500px) {
  body {
    background-color: salmon;
  }

  header {
    height: 30px;
    font-size: 28px;
    color: white;
    text-align: center;
    vertical-align: center;
  }

  nav {
    text-align: center;
  }

  nav a {
    padding: 1% 5% 1% 5%;
  }

  section {
    position: relative;
    background-image: url("http://ww2.hdnux.com/photos/13/03/65/2899301/9/628x471.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 25px;
    height: 400px;
    width: 100%;
    border-radius: 5px;
    color: green;
    font-family: Lucida Grande;
  }

  .text {
    padding-left: 5%;
    padding-right: 5%;
  }

  div {
    display: inline-block;
    width: 45%;
    margin-left: 16px;
  }

  ul {
    list-style-type: circle;
    padding-left: 5px;
    font-size: 18px;
  }

  .instructions {
    display: inline-block;
    width: 100%;
  }

  .image {
    width: 45%;
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
  }

  .image-page-width {
    display: block;
    height: 370px;
    width: 100%;
    border-radius: 5px;
  }

  span {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-bottom: 20px;
    font-family: Calibri;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .imagee {
    display: inline-block;
    width: 45%;
    height: 300px;
    border-radius: 5px;
  }
}
